In [5]:
import pandas as pd


movies=pd.read_csv('moviesData.csv')

movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [6]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [7]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [8]:
movies.head(60)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895
10,389,12 Angry Men,Drama,en,The defense and the prosecution have rested an...,31.946,1957-04-10,8.5,6533
11,696374,Gabriel's Inferno,Romance,en,An intriguing and sinful exploration of seduct...,12.674,2020-05-29,8.5,2262
12,496243,Parasite,"Comedy,Thriller,Drama",ko,"All unemployed, Ki-taek's family takes peculia...",65.147,2019-05-30,8.5,14036
13,497,The Green Mile,"Fantasy,Drama,Crime",en,A supernatural tale set on death row in a Sout...,69.118,1999-12-10,8.5,14162
14,724089,Gabriel's Inferno: Part II,Romance,en,Professor Gabriel Emerson finally learns the t...,14.924,2020-07-31,8.5,1420
15,155,The Dark Knight,"Drama,Action,Crime,Thriller",en,Batman raises the stakes in his war on crime. ...,82.230,2008-07-14,8.5,27925
16,429,"The Good, the Bad and the Ugly",Western,it,While the Civil War rages between the Union an...,47.730,1966-12-23,8.5,6747
17,680,Pulp Fiction,"Thriller,Crime",en,"A burger-loving hit man, his philosophical par...",67.224,1994-09-10,8.5,23481
18,122,The Lord of the Rings: The Return of the King,"Adventure,Fantasy,Action",en,Aragorn is revealed as the heir to the ancient...,134.707,2003-12-01,8.5,19844
19,761053,Gabriel's Inferno: Part III,"Romance,Comedy",en,The final part of the film adaption of the ero...,47.608,2020-11-19,8.5,977
20,13,Forrest Gump,"Comedy,Drama,Romance",en,A man with a low IQ has accomplished great thi...,65.175,1994-06-23,8.5,23009
21,11216,Cinema Paradiso,"Drama,Romance",it,"A filmmaker recalls his childhood, when he fel...",18.677,1988-11-17,8.5,3394
22,346,Seven Samurai,"Action,Drama",ja,A samurai answers a village's request for prot...,27.849,1954-04-26,8.5,2725
23,769,GoodFellas,"Drama,Crime",en,"The true story of Henry Hill, a half-Irish, ha...",50.387,1990-09-12,8.5,10294
24,533514,Violet Evergarden: The Movie,"Animation,Fantasy,Romance,Drama",ja,As the world moves on from the war and technol...,23.933,2020-09-18,8.5,251
25,637,Life Is Beautiful,"Comedy,Drama",it,A touching story of an Italian book seller of ...,55.527,1997-12-20,8.5,11179
26,311,Once Upon a Time in America,"Drama,Crime",en,A former Prohibition-era Jewish gangster retur...,25.789,1984-05-23,8.5,4241
27,14537,Harakiri,"Action,Drama,History",ja,Down-on-his-luck veteran Tsugumo Hanshirō ente...,14.472,1962-09-15,8.4,651
28,539,Psycho,"Horror,Drama,Thriller",en,When larcenous real estate clerk Marion Crane ...,41.575,1960-06-22,8.4,8288
29,652837,"Josee, the Tiger and the Fish","Animation,Drama,Romance",ja,"With dreams of diving abroad, Tsuneo gets a jo...",178.195,2020-12-25,8.4,246
30,40096,A Dog's Will,"Comedy,Drama,Fantasy",pt,The lively Jack the Cricket and the sly Chicó ...,9.741,2000-09-15,8.4,902
31,12477,Grave of the Fireflies,"Animation,Drama,War",ja,"In the final months of World War II, 14-year-o...",0.600,1988-04-16,8.4,4217
32,510,One Flew Over the Cuckoo's Nest,Drama,en,A petty criminal fakes insanity to serve his s...,27.541,1975-05-18,8.4,8703
33,550,Fight Club,Drama,en,A ticking-time-bomb insomniac and a slippery s...,58.676,1999-10-15,8.4,24441
34,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,"Animation,Action,Science Fiction,Drama",ja,"In the aftermath of the Fourth Impact, strande...",108.156,2021-03-08,8.4,528
35,324857,Spider-Man: Into the Spider-Verse,"Action,Adventure,Animation,Science Fiction",en,Miles Morales is juggling his life between bei...,118.785,2018-12-06,8.4,11529
36,598,City of God,"Drama,Crime",pt,Buscapé was raised in a very violent environme...,35.565,2002-02-05,8.4,5886
37,255709,Hope,Drama,ko,After 8-year-old So-won narrowly survives a br...,17.189,2013-10-02,8.4,398
38,378064,A Silent Voice: The Movie,"Animation,Drama,Romance",ja,Shouya Ishida starts bullying the new girl in ...,170.606,2016-09-17,8.4,3029
39,92321,Hotarubi no Mori e,"Romance,Animation,Fantasy",ja,One hot summer day a little girl gets lost in ...,0.600,2011-09-17,8.4,810
40,4935,Howl's Moving Castle,"Fantasy,Animation,Adventure",ja,"When Sophie, a shy young woman, is cursed with...",75.091,2004-11-19,8.4,7452
41,18491,Neon Genesis Evangelion: The End of Evangelion,"Drama,Animation,Science Fiction,Action",ja,The second of two theatrically released follow...,32.759,1997-07-19,8.4,1102
42,1891,The Empire Strikes Back,"Adventure,Action,Science Fiction",en,"The epic saga continues as Luke Skywalker, in ...",28.323,1980-05-20,8.4,14384
43,599,Sunset Boulevard,Drama,en,A hack screenwriter writes a screenplay for a ...,17.814,1950-08-10,8.4,1982
44,441130,Wolfwalkers,"Animation,Family,Adventure,Fantasy",en,"In a time of superstition and magic, when wolv...",17.052,2020-10-26,8.4,800
45,120,The Lord of the Rings: The Fellowship of the Ring,"Adventure,Fantasy,Action",en,"Young hobbit Frodo Baggins, after inheriting a...",168.448,2001-12-18,8.4,21207
46,3782,Ikiru,Drama,ja,Kanji Watanabe is a middle-aged man who has wo...,9.854,1952-10-09,8.4,809
47,704264,Primal: Tales of Savagery,"Action,Adventure,Animation",en,Genndy Tartakovsky's Primal: Tales of Savagery...,62.485,2019-11-21,8.4,227
48,423,The Pianist,"Drama,War",en,The true story of pianist Władysław Szpilman's...,40.571,2002-09-17,8.4,7374
49,157336,Interstellar,"Adventure,Drama,Science Fiction",en,The adventures of a group of explorers who mak...,191.220,2014-11-05,8.4,28920
50,244786,Whiplash,"Drama,Music",en,"Under the direction of a ruthless instructor, ...",57.858,2014-10-10,8.4,12371
51,121,The Lord of the Rings: The Two Towers,"Adventure,Fantasy,Action",en,Frodo and Sam are trekking to Mordor to destro...,162.716,2002-12-18,8.4,18370
52,73,American History X,Drama,en,Derek Vineyard is paroled after serving 3 year...,32.756,1998-07-01,8.4,9700
53,567,Rear Window,"Thriller,Mystery",en,A wheelchair-bound photographer spies on his n...,19.511,1954-08-01,8.4,5230
54,27205,Inception,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",111.757,2010-07-15,8.4,31917
55,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,"Animation,Action,Adventure,Fantasy",ja,"Tanjirō Kamado, joined with Inosuke Hashibira,...",802.132,2020-10-16,8.4,2564
56,632632,Given,"Animation,Drama,Music,Romance",ja,"The relationship between a band's bassist, the...",92.227,2020-08-22,8.4,324
57,901,City Lights,"Comedy,Drama,Romance",en,"In this sound-era silent film, a tramp falls i...",13.321,1931-02-01,8.4,1661
58,12493,High and Low,"Crime,Drama,Mystery,Thriller",ja,An executive of a shoe company becomes a victi...,10.462,1963-03-01,8.4,601
59,914,The Great Dictator,"Comedy,War",en,Dictator Adenoid Hynkel tries to expand his em...,17.663,1940-10-15,8.4,2659

In [9]:
movies=movies[['id' , 'title' , 'overview' , 'genre']]
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [10]:
movies['tags']=movies['overview']+movies['genre']
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [11]:
new_dataset=movies.drop(columns=['overview' , 'genre'])
new_dataset

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv=CountVectorizer(max_features=10000 , stop_words='english')

In [14]:
vector=cv.fit_transform(new_dataset['tags'].values.astype('U')).toarray()
vector.shape

(10000, 10000)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
similarity=cosine_similarity(vector)

In [17]:
distance=sorted(list(enumerate(similarity[9997])) , reverse=True , key=lambda vector:vector[1])

for i in distance[0:5]:
    print(new_dataset.iloc[i[0]].title)

Captain America
Captain America: The First Avenger
Team Thor
Captain America: The Winter Soldier
Letters from Iwo Jima

In [18]:
def recommend_movies(movie):
    index=new_dataset[new_dataset['title']==movie].index[0]
    distance=sorted(list(enumerate(similarity[index])) , reverse=True , key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_dataset.iloc[i[0]].title)

In [19]:
recommend_movies("The Dark Knight")

The Dark Knight
Batman: The Long Halloween, Part Two
Batman: The Long Halloween, Part One
The Dark Knight Rises
Ricochet

In [20]:
import pickle

In [21]:
pickle.dump(new_dataset , open('movies_list.pkl' , 'wb'))

In [22]:
pickle.dump(new_dataset , open('similarity.pkl' , 'wb'))

In [23]:
pickle.load(open('movies_list.pkl' , 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...